<%- include("../partials/_navbar.ejs") %>
<br>
<h1>Edit Club Details</h1>
<% if (typeof error !== 'undefined' && error) { %>
  <div style="color: red; font-weight: bold; margin-bottom: 10px;">
    <%= error %>
  </div>
<% } %>
<form action="/clubs/<%= club._id %>?_method=PUT" method="POST">

  <label for="clubName">Name of the Club:</label>
  <input type="text" id="clubName" name="clubName" value="<%= club.clubName %>" required/>

  <label for="phoneNo">Phone No:</label>
  <input type="text" id="phoneNo" name="phoneNo" value="<%= club.phoneNo %>" required/>

  <label for="clubType">Club Type:</label>
  <input type="text" id="clubType" name="clubType" value="<%= club.clubType %>" required/>

  <label for="openingHours">Opening Hours:</label>
  <input type="text" id="openingHours" name="openingHours" value="<%= club.openingHours %>" required/> 
  <ul> Lessons:
    <% allLessons.forEach(lesson => { %>
    <li>
      <label>
        <input
          type="checkbox"
          name="classes"
          value="<%= lesson._id %>"
          <%= club.classes.map(id => id.toString()).includes(lesson._id.toString()) ? 'checked' : '' %>
        />
        <%= lesson.lessonName %>
      </label>
    </li>
    <% }) %>
  </ul>
  <button type="submit">Update</button>
  <a href="/clubs/<%= club._id %>">Back</a>

</form>
